/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    
    margin: 0 auto;
}

.font-page{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* header logo */

.header{
    padding: 30px;
    background-color: white;
    width:1920px;
}

.header__logo{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    font-size: 50px;
}

.header__logo-image{
    vertical-align: middle;
    width: 68px;
}

/* bg page color */
.bg-page{
    background-color:#F6F8F9;
}

.bg-main-section{
    background-color: white;
    height: 600px;
    width: 860px;
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 40px;
    padding-top: 20px;
}

.bg-aside{
    background-color: white;
    height: 50px;
    width: 900px;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: -30px;
    border-top-left-radius:  10px;
    border-top-right-radius: 10px ;
}


/* aside */

.bg-aside__button{
    text-align: end;
    max-width: 273px;
    padding-top: 12px;
}

.button-task{
    background-color: #47ADF1;
    border: none;
    color: white;
    padding: 3px 11px;
    font-size: 16px;
    border-radius: 5px;
}

.button-section{
    background-color: #E1E4E6;
    border: none;
    color: white;
    padding: 3px 11px;
    font-size: 16px;
    border-radius: 5px;
}

/* main section */

.list__card {
    list-style-type: none;
    padding-top: 20px;
    
}

.circle-green{
    color: #A0DBCF;
    border-radius: 100%;
    border:2px solid #A0DBCF;
    padding: 1px;
    margin-right: 10px;
}

.circle-red{
    color: #F19692;
    border-radius: 100%;
    border:2px solid #F19692;
    padding: 1px;
    margin-right: 10px;
}

.info{
    color: white;
    border-radius: 10px;
    padding: 3px 9px;
}

.section{
    padding-top: 50px;
}


/* colors */

.blue{
    background-color: #45ABE9;
}

.purple{
    background-color: #9C72E4;
}

.green{
    background-color: #64C0A8;

}

.orange {
    background-color:#F29E33 ;
}

.pink{
    background-color:#D863A0;
}

.green-lime{
    background-color: #B0C926;
}